body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

}

.content-nav {
    width: 100%;
    box-shadow: 0px 4px 6px #0000001a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.content-nav a {
    text-decoration: none;
}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px;

}

.logo img {
    border-radius: 10px;
}

.logo p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #9057c5;
}

.navbtn button {
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #9057c5;
    border-color: #9057c5;
    cursor: pointer;
}

.navbtn button:hover {
    background-color: #d8c3eb;
}

h1{
    margin: 40px ;
}

 h2 {
    margin: 20px;
 }

p {
    margin: 30px;
}

.cardsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 40px 10%;
    background-color: #ffffff;
}

.card-item {
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 8px;
    text-align: center;
    background-color: #eae6f0;
}

.formulario {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 300px;
 
}

.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
   
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;

}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border: 1px solid #999;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #755a9c;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #5e3086;
}



#input-li {
    width: 90%;
    height: 60px;
    margin: 0 auto;
}

.li-js {
    list-style: none;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 10px;
}

.list button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
   background-color: #755a9c;
    margin: 20px;
}

.list button:hover{
     background-color: #5e3086;
}


.footer-main {
    background-color: #5e4682;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-size: 14px;
    margin-top: 50px;
}

footer p{
    margin: 10px;
}

@media (min-width: 768px) {
    .cardsgrid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        margin: 0 auto;
    }
}

